@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-md-7">
            <h1>Orange Bricks</h1>
            <p class="lead">Sell or buy a house in a few simple clicks!</p>
            <p><a href="@Url.Action("Register", "Account")" class="btn btn-red btn-lg">Get Started &raquo;</a></p>
        </div>
        <div class="col-md-5">
            <h2 class="mtop30">Sell</h2>
            <p>
                Sell your house in a few easy clicks. Add your listing and then 
                simply review offers from buyers and accept or reject them.
            </p>

            <h2>Buy</h2>
            <p>
                View amazing properties for sale and send your offer directly to 
                the seller. Saving time and money.
            </p>
        </div>
    </div>

</div>