@model OrangeBricks.Web.Controllers.Offers.ViewModels.MyOffersViewModel

@using OrangeBricks.Web.Models

@{
    ViewBag.Title = "Your Offers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<br />

<p>Here you can see the offers that you have made.</p>

@if (Model.HasMadeOffers)
{
    <p>You have made @Model.OffersStates.Count offers ...</p>

    <div class="row">
        <div class="col-sm-3">
            <strong>Property Type</strong>
        </div>
        <div class="col-sm-3">
            <strong>Property Street</strong>
        </div>
        <div class="col-sm-3">
            <strong>Offer Amount</strong>
        </div>
        <div class="col-sm-3">
            <strong>Offer Status</strong>
        </div>
    </div>

    foreach (var offer in Model.OffersStates)
    {
        <hr />

        <div class="row">
            <div class="col-sm-3">
                @offer.PropertyType
            </div>
            <div class="col-sm-3">
                @offer.PropertyStreetName
            </div>
            <div class="col-sm-3">
                £@offer.OfferAmount
            </div>
            <div class="col-sm-3">
                @switch (offer.OfferStatus)
                {
                    case OfferStatus.Accepted:
                        <strong class="text-success">Accepted</strong>
                        break;
                    case OfferStatus.Rejected:
                        <strong class="text-danger">Rejected</strong>
                        break;
                    default:
                        @:Pending
                        break;
                }
            </div>
        </div>
    }
}
else
{
    <div class="alert alert-warning" role="alert">
        You have not made any offers yet!
    </div>
}
